<a href="https://colab.research.google.com/github/eeuuais/studypolio/blob/main/Algorithm_prac/programmers(SQL).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SELECT

In [ ]:
# 3월에 태어난 여성 회원 목록 출력하기

SELECT MEMBER_ID
, MEMBER_NAME
, GENDER
, TO_CHAR(DATE_OF_BIRTH, 'YYYY-MM-DD') AS DATE_OF_BIRTH
FROM MEMBER_PROFILE
WHERE TO_CHAR(DATE_OF_BIRTH, 'MM') = '03'
AND GENDER = 'W'
AND TLNO IS NOT NULL
ORDER BY MEMBER_ID

SyntaxError: ignored

In [ ]:
# 조건에 부합하는 중고거래 댓글 조회하기

SELECT A.TITLE, A.BOARD_ID, B.REPLY_ID, B.WRITER_ID, B.CONTENTS, DATE_FORMAT(B.CREATED_DATE, '%Y-%m-%d') AS CREATED_DATE
FROM USED_GOODS_BOARD AS A
    INNER JOIN USED_GOODS_REPLY AS B
    ON A.BOARD_ID = B.BOARD_ID
WHERE YEAR(A.CREATED_DATE) = 2022 AND MONTH(A.CREATED_DATE) = 10
ORDER BY B.CREATED_DATE ASC, A.TITLE ASC

In [ ]:
# 강원도에 위치한 생산공장 목록 출력하기

SELECT FACTORY_ID, FACTORY_NAME, ADDRESS
FROM FOOD_FACTORY
WHERE ADDRESS LIKE '%강원도%'
ORDER BY FACTORY_ID

In [ ]:
# 서울에 위치한 식당 목록 출력하기

SELECT A.REST_ID, A.REST_NAME, A.FOOD_TYPE, A.FAVORITES, A.ADDRESS,
    ROUND(AVG(B.REVIEW_SCORE), 2) SCORE
FROM REST_INFO A
    JOIN REST_REVIEW B
    ON A.REST_ID = B.REST_ID
GROUP BY B.REST_ID
HAVING A.ADDRESS LIKE '서울%'

In [ ]:
# 흉부외과 또는 일반외과 의사 목록 출력하기

SELECT DR_NAME, DR_ID, MCDP_CD, DATE_FORMAT(HIRE_YMD, '%Y-%m-%d')
FROM DOCTOR
WHERE MCDP_CD = "CS" OR MCDP_CD = "GS"
ORDER BY HIRE_YMD DESC, DR_NAME ASC

In [ ]:
# 조건에 맞는 도서 리스트 출력하기

SELECT BOOK_ID, DATE_FORMAT(PUBLISHED_DATE,'%Y-%m-%d') AS PUBLISHED_DATE
FROM BOOK
WHERE CATEGORY = '인문' AND DATE_FORMAT(PUBLISHED_DATE,'%Y') = '2021'
ORDER BY PUBLISHED_DATE

In [ ]:
# 평균 일일 대여 요금 구하기

SELECT ROUND(AVG(DAILY_FEE), 0) AS AVERAGE_FEE
FROM CAR_RENTAL_COMPANY_CAR
WHERE CAR_TYPE = 'SUV'

In [ ]:
# 과일로 만든 아이스크림 고르기

SELECT a.FLAVOR
FROM FIRST_HALF AS a
LEFT JOIN ICECREAM_INFO AS b
ON a.FLAVOR = b.FLAVOR
WHERE a.TOTAL_ORDER > 3000 AND b.INGREDIENT_TYPE LIKE 'fruit_based'
ORDER BY a.TOTAL_ORDER DESC;

In [ ]:
# 12세 이하인 여자 환자 목록 출력하기

SELECT PT_NAME,	PT_NO, GEND_CD, AGE, IFNULL(TLNO, 'NONE') AS TLNO
FROM PATIENT
WHERE AGE <= 12 AND GEND_CD = "W"
ORDER BY AGE DESC, PT_NAME ASC

In [ ]:
# 인기있는 아이스크림

SELECT FLAVOR
FROM FIRST_HALF
ORDER BY TOTAL_ORDER DESC, SHIPMENT_ID ASC

SyntaxError: ignored

In [ ]:
# 모든 레코드 조회하기

SELECT ANIMAL_ID, ANIMAL_TYPE, DATETIME, INTAKE_CONDITION, NAME, SEX_UPON_INTAKE
FROM ANIMAL_INS
ORDER BY ANIMAL_ID

In [ ]:
# 재구매가 일어난 상품과 회원 리스트 구하기

SELECT USER_ID, PRODUCT_ID
FROM ONLINE_SALE
GROUP BY USER_ID, PRODUCT_ID
HAVING COUNT(*) >= 2            # 재구매
ORDER BY USER_ID, PRODUCT_ID DESC

In [ ]:
# 오프라인/온라인 판매 데이터 통합하기

SELECT DATE_FORMAT(SALES_DATE, "%Y-%m-%d") AS SALES_DATE,
    PRODUCT_ID, USER_ID, SALES_AMOUNT
FROM ONLINE_SALE
WHERE SALES_DATE >= '2022-03-01' and SALES_DATE < '2022-04-01'
UNION ALL
SELECT DATE_FORMAT(SALES_DATE, "%Y-%m-%d") AS SALES_DATE,
    PRODUCT_ID, NULL AS USER_ID, SALES_AMOUNT
FROM OFFLINE_SALE
WHERE SALES_DATE >= '2022-03-01' and SALES_DATE < '2022-04-01'
ORDER BY SALES_DATE, PRODUCT_ID, USER_ID;

In [ ]:
# 역순 정렬하기

SELECT NAME, DATETIME
FROM ANIMAL_INS
ORDER BY ANIMAL_ID DESC

In [ ]:
# 아픈 동물 찾기

SELECT ANIMAL_ID, NAME
FROM ANIMAL_INS
WHERE INTAKE_CONDITION = 'Sick'
ORDER BY ANIMAL_ID

In [ ]:
# 어린 동물 찾기

SELECT ANIMAL_ID, NAME
FROM ANIMAL_INS
WHERE INTAKE_CONDITION != 'Aged'
ORDER BY ANIMAL_ID

In [ ]:
# 동물의 아이디와 이름

SELECT ANIMAL_ID, NAME
FROM ANIMAL_INS
ORDER BY ANIMAL_ID

SyntaxError: ignored

In [ ]:
# 여러 기준으로 정렬하기

SELECT ANIMAL_ID, NAME, DATETIME
FROM ANIMAL_INS
ORDER BY NAME, DATETIME DESC;

In [ ]:
# 상위 n개 레코드

SELECT NAME
FROM ANIMAL_INS
ORDER BY DATETIME LIMIT 1

In [ ]:
# 조건에 맞는 회원수 구하기

SELECT COUNT(USER_ID) AS USERS
FROM USER_INFO
WHERE JOINED LIKE '2021%' AND AGE BETWEEN 20 AND 29

# SUM, MAX, MIN

In [ ]:
# 가격이 제일 비싼 식품의 정보 출력하기

SELECT *
FROM FOOD_PRODUCT
ORDER BY PRICE DESC
LIMIT 1

In [ ]:
# 가장 비싼 상품 구하기

SELECT MAX(PRICE) MAX_PRICE
FROM PRODUCT

In [ ]:
# 최댓값 구하기

SELECT MAX(DATETIME) 시간
FROM ANIMAL_INS

In [ ]:
# 최솟값 구하기

SELECT MIN(DATETIME) 시간
FROM ANIMAL_INS

In [ ]:
# 동물 수 구하기

SELECT COUNT(ANIMAL_ID) count
FROM ANIMAL_INS

In [ ]:
# 중복 제거하기

SELECT COUNT(DISTINCT NAME) count
FROM ANIMAL_INS

# GROUP BY

In [ ]:
# 저자 별 카테고리 별 매출액 집계하기

SELECT A.AUTHOR_ID, B.AUTHOR_NAME, A.CATEGORY, SUM(C.SALES * A.PRICE) TOTAL_SALES
FROM BOOK A JOIN BOOK_SALES C
            ON A.BOOK_ID = C.BOOK_ID
            JOIN AUTHOR B
            ON B.AUTHOR_ID = A.AUTHOR_ID
WHERE C.SALES_DATE LIKE "2022-01%"
GROUP BY B.AUTHOR_NAME, A.CATEGORY
ORDER BY A.AUTHOR_ID, CATEGORY DESC

In [ ]:
# 성분으로 구분한 아이스크림 총 주문량

SELECT INGREDIENT_TYPE, SUM(A.TOTAL_ORDER)
FROM FIRST_HALF A
    JOIN ICECREAM_INFO B
    ON A.FLAVOR = B.FLAVOR
GROUP BY B.INGREDIENT_TYPE
ORDER BY TOTAL_ORDER

In [ ]:
# 식품분류별 가장 비싼 식품의 정보 조회하기

# GROUP BY 내에서 최댓값을 찾으려면 서브쿼리 사용해야 함
SELECT P.CATEGORY,
       MAX(P.PRICE) AS MAX_PRICE,
       (SELECT PRODUCT_NAME FROM FOOD_PRODUCT WHERE CATEGORY = P.CATEGORY ORDER BY PRICE DESC LIMIT 1) AS PRODUCT_NAME
  FROM FOOD_PRODUCT P
 WHERE CATEGORY IN ('과자', '국', '김치', '식용유')
 GROUP BY CATEGORY
 ORDER BY MAX_PRICE DESC

In [ ]:
# 자동차 종류 별 특정 옵션이 포함된 자동차 수 구하기

SELECT CAR_TYPE, COUNT(CAR_ID) CARS
FROM CAR_RENTAL_COMPANY_CAR
WHERE OPTIONS LIKE '%시트%'
GROUP BY CAR_TYPE
ORDER BY CAR_TYPE

In [ ]:
# 즐겨찾기가 가장 많은 식당 정보 출력하기

SELECT FOOD_TYPE, REST_ID, REST_NAME, FAVORITES
FROM REST_INFO
WHERE (FOOD_TYPE, FAVORITES) IN (
    SELECT FOOD_TYPE, MAX(FAVORITES)
    FROM REST_INFO
    GROUP BY FOOD_TYPE
)
GROUP BY FOOD_TYPE
ORDER BY FOOD_TYPE DESC

In [ ]:
# 조건에 맞는 사용자와 총 거래금액 조회하기

SELECT B.USER_ID, B.NICKNAME, SUM(A.PRICE) TOTAL_SALES
FROM USED_GOODS_BOARD A
    JOIN USED_GOODS_USER B
    ON A.WRITER_ID = B.USER_ID
WHERE A.STATUS = 'DONE'
GROUP BY B.USER_ID
HAVING TOTAL_SALES >= 700000
ORDER BY TOTAL_SALES

In [ ]:
# 카테고리 별 도서 판매량 집계하기

SELECT A.CATEGORY, SUM(SALES) TOTAL_SALES
FROM BOOK A
    JOIN BOOK_SALES B
    ON A.BOOK_ID = B.BOOK_ID
WHERE B.SALES_DATE LIKE '2022-01%'
GROUP BY CATEGORY
ORDER BY A.CATEGORY

In [ ]:
# 진료과별 총 예약 횟수 출력하기

SELECT MCDP_CD 진료과코드, COUNT(PT_NO) 5월예약건수
FROM APPOINTMENT
WHERE APNT_YMD LIKE '2022-05%'
GROUP BY MCDP_CD
ORDER BY 5월예약건수, 진료과코드

In [ ]:
# 자동차 대여 기록에서 대여중 / 대여 가능 여부 구분하기

SELECT CAR_ID,
    CASE WHEN MAX('2022-10-16' BETWEEN START_DATE AND END_DATE) THEN '대여중'
    ELSE '대여 가능'
    END AVAILABILITY
FROM CAR_RENTAL_COMPANY_RENTAL_HISTORY
GROUP BY CAR_ID
ORDER BY CAR_ID DESC

In [ ]:
# 대여 횟수가 많은 자동차들의 월별 대여 횟수 구하기

SELECT MONTH(START_DATE) AS MONTH, R.CAR_ID, COUNT(*) AS RECORDS
FROM CAR_RENTAL_COMPANY_RENTAL_HISTORY R
WHERE R.CAR_ID IN (
    SELECT CAR_ID
    FROM CAR_RENTAL_COMPANY_RENTAL_HISTORY
    WHERE START_DATE BETWEEN '2022-08-01' AND '2022-10-31'
    GROUP BY CAR_ID
    HAVING COUNT(*) >= 5
)
AND R.START_DATE BETWEEN '2022-08-01' AND '2022-10-31'
GROUP BY MONTH(START_DATE), R.CAR_ID
HAVING COUNT(*) > 0
ORDER BY MONTH(START_DATE), R.CAR_ID DESC;

In [ ]:
# 고양이와 개는 몇 마리 있을까

SELECT ANIMAL_TYPE, count(*) count
FROM ANIMAL_INS
GROUP BY ANIMAL_TYPE
ORDER BY ANIMAL_TYPE

In [ ]:
# 동명 동물 수 찾기

SELECT NAME, COUNT(ANIMAL_ID) COUNT
FROM ANIMAL_INS
GROUP BY NAME
HAVING COUNT > 1 AND NAME IS NOT NULL
ORDER BY NAME

In [ ]:
# 년, 월, 성별 별 상품 구매 회원 수 구하기

SELECT DATE_FORMAT(SALES_DATE, '%Y') YEAR, DATE_FORMAT(SALES_DATE, '%m') MONTH, A.GENDER, COUNT(DISTINCT A.USER_ID) USERS
FROM USER_INFO A
    JOIN ONLINE_SALE B
    ON A.USER_ID = B.USER_ID
WHERE GENDER IS NOT NULL
GROUP BY YEAR, MONTH, GENDER
ORDER BY YEAR, MONTH, GENDER

"""
문제 오류 : 원래는 %m 대신 %c를 써야 월이 0없이 표현되는데, %m으로 해야 정답처리 됨
USERS에는 중복이 없어야해서 DISTINCT 사용해야 한다
"""

In [ ]:
# 입양 시각 구하기(1)

SELECT HOUR(DATETIME) HOUR, COUNT(ANIMAL_ID) COUNT
FROM ANIMAL_OUTS
GROUP BY HOUR(DATETIME)
HAVING HOUR BETWEEN 9 AND 20
ORDER BY HOUR

In [ ]:
# 입양 시각 구하기(2)

SET @HOUR := -1; # 변수선언 : 초기값을 -1로 설정

SELECT (@HOUR := @HOUR + 1) as HOUR, # @hour의 값에 1씩 증가시키면서 SELECT 문 전체를 실행
    (SELECT COUNT(*)
     FROM ANIMAL_OUTS
     WHERE HOUR(DATETIME) = @HOUR) as COUNT
FROM ANIMAL_OUTS
WHERE @HOUR < 23

"""
@가 붙은 변수는 프로시저가 종료되어도 유지된다.
이를 통해 값을 누적하여 0부터 23까지 표현할 수 있다.
처음에 @HOUR 값이 -1 인데, 이 식에 의해 +1 이 되어 0이 저장된다.
HOUR 값이 0부터 시작할 수 있다.
WHERE @HOUR < 23일 때까지, @HOUR 값이 계속 + 1씩 증가한다.
참고 : https://chanhuiseok.github.io/posts/db-6/"""

In [ ]:
# 가격대 별 상품 개수 구하기

SELECT FLOOR(PRICE/10000)*10000 PRICE_GROUP, COUNT(*) PRODUCTS
FROM PRODUCT
GROUP BY PRICE_GROUP
ORDER BY PRICE_GROUP

# IS NULL

In [ ]:
# 경기도에 위치한 식품창고 목록 출력하기

SELECT WAREHOUSE_ID, WAREHOUSE_NAME, ADDRESS, IFNULL(FREEZER_YN, 'N') FREEZER_YN
FROM FOOD_WAREHOUSE
WHERE ADDRESS LIKE ('경기도%')
ORDER BY WAREHOUSE_ID

In [ ]:
# 이름이 없는 동물의 아이디

SELECT ANIMAL_ID
FROM ANIMAL_INS
WHERE NAME IS NULL
ORDER BY ANIMAL_ID

In [ ]:
# 이름이 있는 동물의 아이디

SELECT ANIMAL_ID
FROM ANIMAL_INS
WHERE NAME IS NOT NULL
ORDER BY ANIMAL_ID

In [ ]:
# NULL 처리하기

SELECT ANIMAL_TYPE, IFNULL(NAME, 'No name') NAME, SEX_UPON_INTAKE
FROM ANIMAL_INS

In [ ]:
# 나이 정보가 없는 회원 수 구하기

SELECT count(USER_ID) USER
FROM USER_INFO
WHERE AGE IS NULL

# JOIN

In [ ]:
# 그룹별 조건에 맞는 식당 목록 출력하기(남의 코드. 이해안됨 ㅠㅠ)

SELECT M.MEMBER_NAME, R.REVIEW_TEXT, DATE_FORMAT(R.REVIEW_DATE, "%Y-%m-%d")
FROM MEMBER_PROFILE M
JOIN (
    SELECT REVIEW_TEXT, REVIEW_DATE, MEMBER_ID
    FROM REST_REVIEW
    WHERE MEMBER_ID = (
        SELECT MEMBER_ID
        FROM REST_REVIEW
        GROUP BY MEMBER_ID
        ORDER BY COUNT(*) DESC
        LIMIT 1)
    ) R
ON R.MEMBER_ID = M.MEMBER_ID
ORDER BY R.REVIEW_DATE, R.REVIEW_TEXT

In [ ]:
# 조건에 맞는 도서와 저자 리스트 출력하기

SELECT A.BOOK_ID, B.AUTHOR_NAME, DATE_FORMAT(A.PUBLISHED_DATE, '%Y-%m-%d') PUBLISHED_DATE
FROM BOOK A
JOIN AUTHOR B
ON A.AUTHOR_ID = B.AUTHOR_ID
WHERE CATEGORY = '경제'
ORDER BY PUBLISHED_DATE

In [ ]:
# 주문량이 많은 아이스크림들 조회하기

In [ ]:
# 특정 기간동안 대여 가능한 자동차들의 대여비용 구하기(다른 사람 코드)

SELECT C.CAR_ID,
       C.CAR_TYPE,
       ROUND(C.DAILY_FEE * 30 * (100 - P.DISCOUNT_RATE)/100) AS FEE
FROM CAR_RENTAL_COMPANY_CAR AS C
JOIN CAR_RENTAL_COMPANY_DISCOUNT_PLAN AS P
ON C.CAR_TYPE = P.CAR_TYPE
AND P.DURATION_TYPE = '30일 이상'
WHERE C.CAR_TYPE IN ('세단', 'SUV')
AND C.CAR_ID NOT IN (
        SELECT CAR_ID
        FROM CAR_RENTAL_COMPANY_RENTAL_HISTORY
        WHERE END_DATE >= '2022-11-01' AND START_DATE <= '2022-11-30'
    )
HAVING FEE >= 500000 AND FEE < 2000000
ORDER BY FEE DESC, C.CAR_TYPE ASC, C.CAR_ID DESC;

"""
    반납일이 11월 1일 이전이고 대여시작일이 11월 30일 이후인 CAR_ID만 서브쿼리로 처리
"""

In [ ]:
# 5월 식품들의 총매출 조회하기

In [ ]:
# 없어진 기록 찾기

SELECT B.ANIMAL_ID, B.NAME
FROM ANIMAL_INS A
RIGHT OUTER JOIN ANIMAL_OUTS B
ON A.ANIMAL_ID = B.ANIMAL_ID
WHERE A.ANIMAL_ID IS NULL
ORDER BY B.ANIMAL_ID
# B에는 있는데 A는 없는 거 찾는 거

In [ ]:
# 있었는데요 없었습니다

SELECT A.ANIMAL_ID, A.NAME
FROM ANIMAL_INS A
JOIN ANIMAL_OUTS B
ON A.ANIMAL_ID = B.ANIMAL_ID
WHERE A.DATETIME > B.DATETIME
ORDER BY A.DATETIME

In [ ]:
# 오랜 기간 보호한 동물(1)

SELECT A.NAME, A.DATETIME
FROM ANIMAL_INS A
LEFT JOIN ANIMAL_OUTS B
ON A.ANIMAL_ID = B.ANIMAL_ID
WHERE B.ANIMAL_ID IS NULL
ORDER BY A.DATETIME LIMIT 3

In [ ]:
# 보호소에서 중성화한 동물

SELECT A.ANIMAL_ID, A.ANIMAL_TYPE, A.NAME
    FROM ANIMAL_INS A
    JOIN ANIMAL_OUTS B
    ON A.ANIMAL_ID = B.ANIMAL_ID
WHERE A.SEX_UPON_INTAKE LIKE '%Intact%'
    AND REGEXP_LIKE (B.SEX_UPON_OUTCOME, '^Spayed|^Neutered')
ORDER BY ANIMAL_ID

"""
    LIKE를 여러 개 써야할 때 : REGEXP_LIKE 사용법!
"""

In [ ]:
# 상품 별 오프라인 매출 구하기

SELECT A.PRODUCT_CODE, SUM(A.PRICE * B.SALES_AMOUNT) SALES
FROM PRODUCT A
JOIN OFFLINE_SALE B
ON A.PRODUCT_ID = B.PRODUCT_ID
GROUP BY A.PRODUCT_CODE
ORDER BY SALES DESC, PRODUCT_CODE

In [ ]:
# 상품을 구매한 회원 비율 구하기

SELECT DATE_FORMAT(SALES_DATE, '%Y') YEAR,
    DATE_FORMAT(SALES_DATE, '%c') MONTH,
    (SELECT COUNT(DISTINCT B.USER_ID)
     FROM ONLINE_SALE A JOIN ONLINE_SALE B ON A.USER_ID = B.USER_ID
     WHERE A.JOINED LIKE "2021%") PUCHASED_USERS,
    ROUND((COUNT(DISTINCT B.USER_ID) /
           (SELECT COUNT(*)
            FROM USER_INFO
            WHERE JOINED LIKE "2021%")), 1) PUCHASED_RATIO
FROM USER_INFO A
    JOIN ONLINE_SALE B
    ON A.USER_ID = B.USER_ID
# WHERE JOINED LIKE "2021%"
GROUP BY YEAR, MONTH
ORDER BY YEAR, MONTH

# String, Date

In [ ]:
# 조건에 부합하는 중고거래 상태 조회하기

SELECT BOARD_ID, WRITER_ID, TITLE, PRICE,
    CASE
        WHEN STATUS = 'SALE' THEN '판매중'
        WHEN STATUS = 'RESERVED' THEN '예약중'
        ELSE '거래완료'
    END AS 'STATUS'
FROM USED_GOODS_BOARD
WHERE CREATED_DATE LIKE '2022-10-05%'
ORDER BY BOARD_ID DESC

In [ ]:
# 조건에 맞는 사용자 정보 조회하기

SELECT USER_ID, NICKNAME, CONCAT(CITY, SPACE(1), STREET_ADDRESS1, SPACE(1), STREET_ADDRESS2) 전체주소,
CONCAT(substr(TLNO,1,3),'-',substr(TLNO,4,4),'-',substr(TLNO,8,4)) 전화번호

FROM USED_GOODS_BOARD A
    JOIN USED_GOODS_USER B
    ON A.WRITER_ID = B.USER_ID
GROUP BY A.WRITER_ID
HAVING COUNT(A.WRITER_ID) >= 3
ORDER BY USER_ID DESC

In [ ]:
# 대여 기록이 존재하는 자동차 리스트 구하기

SELECT DISTINCT(A.CAR_ID)
FROM CAR_RENTAL_COMPANY_CAR A
    JOIN CAR_RENTAL_COMPANY_RENTAL_HISTORY B
    ON A.CAR_ID = B.CAR_ID
WHERE A.CAR_TYPE = '세단' AND B.START_DATE LIKE '%-10-%'
ORDER BY CAR_ID DESC

In [ ]:
# 자동차 평균 대여 기간 구하기

SELECT CAR_ID, ROUND(AVG(DATEDIFF(END_DATE,START_DATE)+1),1) AS AVERAGE_DURATION
FROM CAR_RENTAL_COMPANY_RENTAL_HISTORY
GROUP BY CAR_ID
HAVING AVERAGE_DURATION >= 7
ORDER BY AVERAGE_DURATION DESC, CAR_ID DESC

In [ ]:
# 취소되지 않은 진료 예약 조회하기(아직 다 안 품)

SELECT C.APNT_NO, A.PT_NAME, A.PT_NO, B.MCDP_CD, B.DR_NAME, DATE_FORMAT(C.APNT_YMD, "%Y-%m-%d %T.%f") APNT_YMD
FROM PATIENT A
    JOIN APPOINTMENT C
    ON A.PT_NO = C.PT_NO
    JOIN DOCTOR B
    ON B.DR_ID = C.MDDR_ID
WHERE B.MCDP_CD = 'CS' AND APNT_CNCL_YMD != '2022-04-13'
ORDER BY C.APNT_YMD

In [ ]:
# 조건별로 분류하여 주문상태 출력하기

SELECT ORDER_ID, PRODUCT_ID, DATE_FORMAT(OUT_DATE, '%Y-%m-%d') OUT_DATE,
CASE WHEN OUT_DATE <= '2022-05-01' THEN '출고완료'
    WHEN OUT_DATE > '2022-05-01' THEN '출고대기'
    ELSE '출고미정'
    END 출고여부
FROM FOOD_ORDER
ORDER BY ORDER_ID

In [ ]:
# 자동차 대여 기록 별 대여 금액 구하기

In [ ]:
# 조회수가 가장 많은 중고거래 게시판의 첨부파일 조회하기

SELECT CONCAT('/home/grep/src/', B.BOARD_ID, '/', B.FILE_ID, B.FILE_NAME, B.FILE_EXT) FILE_PATH
FROM USED_GOODS_BOARD A
    JOIN USED_GOODS_FILE B
    ON A.BOARD_ID = B.BOARD_ID
WHERE A.BOARD_ID = (SELECT BOARD_ID FROM USED_GOODS_BOARD ORDER BY VIEWS DESC LIMIT 1)
ORDER BY FILE_ID DESC

In [ ]:
# 자동차 대여 기록에서 장기/단기 대여 구분하기

SELECT HISTORY_ID, CAR_ID, DATE_FORMAT(START_DATE, "%Y-%m-%d") START_DATE, DATE_FORMAT(END_DATE, "%Y-%m-%d") END_DATE,
    CASE
        WHEN (DATEDIFF(END_DATE, START_DATE) + 1) >= 30 THEN '장기 대여'
        ELSE '단기 대여'
        END AS RENT_TYPE
FROM CAR_RENTAL_COMPANY_RENTAL_HISTORY
WHERE START_DATE LIKE '2022-09%'
ORDER BY HISTORY_ID DESC

In [ ]:
# 특정 옵션이 포함된 자동차 리스트 구하기

SELECT CAR_ID, CAR_TYPE, DAILY_FEE,	OPTIONS
FROM CAR_RENTAL_COMPANY_CAR
WHERE OPTIONS LIKE '%네비게이션%'
ORDER BY CAR_ID DESC

In [ ]:
# 루시와 엘라 찾기

SELECT ANIMAL_ID, NAME, SEX_UPON_INTAKE
FROM ANIMAL_INS
WHERE NAME = 'Lucy'
    OR NAME = 'Ella'
    OR NAME = 'Pickle'
    OR NAME = 'Rogan'
    OR NAME = 'Sabrina'
    OR NAME = 'Mitty

In [ ]:
# 이름에 el이 들어가는 동물 찾기

SELECT ANIMAL_ID, NAME
FROM ANIMAL_INS
WHERE NAME LIKE "%EL%" AND ANIMAL_TYPE = "Dog"
ORDER BY NAME

In [ ]:
# 중성화 여부 파악하기

SELECT ANIMAL_ID, NAME,
CASE
    WHEN SEX_UPON_INTAKE LIKE '%Neutered%' THEN 'O'
    WHEN SEX_UPON_INTAKE LIKE '%Spayed%' THEN 'O'
    ELSE 'X'
    END
FROM ANIMAL_INS
ORDER BY ANIMAL_ID

In [ ]:
# 오랜 기간 보호한 동물(2)

SELECT O.ANIMAL_ID, O.NAME FROM ANIMAL_OUTS O
JOIN ANIMAL_INS I
ON I.ANIMAL_ID = O.ANIMAL_ID
ORDER BY DATEDIFF(O.DATETIME, I.DATETIME) DESC
LIMIT 2

In [ ]:
# 카테고리 별 상품 개수 구하기

SELECT LEFT(PRODUCT_CODE, 2) CATEGORY, COUNT(PRODUCT_ID) PRODUCTS
FROM PRODUCT
GROUP BY CATEGORY
ORDER BY CATEGORY

In [ ]:
# DATETIME에서 DATE로 형 변환

SELECT ANIMAL_ID, NAME, DATE_FORMAT(DATETIME, "%Y-%m-%d") '날짜'
FROM ANIMAL_INS
ORDER BY ANIMAL_ID