# 2일차. 변수 선언 / 기본 자료형 / 복합자료형

# 변수  
변수란 저장된 값(원소, 데이터)들의 이름이며, 저장된 값들이 어떤 그릇의 내용이라면 그 그릇의 이름은 변수라고 한다.  
변수에 값을 저장하는 것을 할당(assign) 또는 선언이라고 하는데, 변수에 이미 할당되고 난 값을 객체라고 한다.  
또한, 변수는 일반적인 자료형 외에 클래스를 정의할 수도 있다.  

---

### 변수 이름을 정하는 규칙
* 영문자, 숫자 사용가능, 대소문자 구분  
* 밑줄(_) 사용가능  
* 공백 사용 불가  
* 숫자로 시작할 수 없음  
* 특수문자( +, -, *, /, $) 사용 불가  
* 파이썬 예약어 사용 불가  

---

In [1]:
# 파이썬 예약어
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [1]:
age = int(input('나이를 입력하세요:'))
print(age+1)

나이를 입력하세요:20
21

# 기본 자료형

## 숫자형
| 항목 | 사용예 |
|:---|---|
| `정수` | 123,-456,0   
| `실수` | 123.45, -123.45   
| `8진수` | 0o34, 0o12   
| `16진수` | 0x2F, 0xFC  

## 연산자

```

  + : 더하기
  - : 빼기
  * : 곱하기
  / : 나누기
  ** : 거듭제곱
  // : 나눗셈의 몫
  % : 나머지
```

In [3]:
a=123
b=100
print("a+b:",a+b)
print("a-b:",a-b )
print("a*b:",a*b )
print("a/b:",a/b )
print("a//b:",a//b )
print("a%b:",a%b )
print("a**2:",a**2)

a+b: 223
a-b: 23
a*b: 12300
a/b: 1.23
a//b: 1
a%b: 23
a**2: 15129

## 문자열 자료형

문자는 문자, 단어등으로 구성된 문자열의 집합을 의미한다. 큰 따옴표"" 또는 작은 따옴표''로 양 옆을 묶어서 표시한다.

### 이스케이프 코드  

| 항목 | 설명 |
|:---|---|
| `\n` | 문자열 안에서 줄을 바꿀 때   
| `\t` | 탭 간격 설정   
| `\'` | 작은 따옴표 표시
| `\"` | 큰 따옴표 표시
| `\\` | 문자\ 그대로 표시

In [6]:
subject='Python'
exp='나는 \'Python\'을 배웁니다.'
multi='''
나는 파이썬을
공부합니다. 
매일 복습을 합니다.
'''

print(subject)
print(exp)
print(multi)

Python
나는 'Python'을 배웁니다.

나는 파이썬을
공부합니다.
매일 복습을 합니다.

### 문자열 연산
```
+ : 문자열을 연결하여 표시함
* : 횟수만큼 반복하여 표시함
```

In [3]:
c="Python"
d=" Jupyter Notebooke"
print(c+d)
print(c*2)

Python Jupyter Notebooke
PythonPython

## 문자열의 인덱싱과 슬라이싱
인덱싱은 무엇인가를 '가리킨다'는 의미이고  슬라이싱은 잘라내는 것을 의미한다.
* 첫 글자는 0부터 시작하고 공백도 글자수에 넣어야 한다.  
* 마지막 글자는 -1부터 시작이다.  
* 대괄호[]를 이용해 [시작위치:끝위치:간격] 형태로 설정할 수 있다.
> 시작위치, 끝위치, 간격 등은 생략가능한데 시작위치를 생략하면 0부터 시작되고, 끝위치는 생략하면 마지막까지 설정되며, 간격은 생략하면 1씩 설정된다.

<table style="border: 2px solid red; margin-left: 0;">
<tr>
    <td>P</td><td>y</td><td>t</td><td>h</td><td>o</td><td>n</td>
</tr>
<tr>   
 <td>0</td><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td>
</tr>    
<tr>    
<td>-6</td><td>-5</td><td>-4</td><td>-3</td><td>-2</td><td>-1</td>
    </tr>
    </table>

In [8]:
text1="python is fun!" # 띄어쓰기도 글자수에 포함한다
print(text1[0])
print(text1[:3])
print(text1[3:])
print(text1[0:5:2])

p
pyt
hon is fun!
pto

## 문자열 관련 함수
* len : 문자열의 길이를 설정한다.
* join : 각각의 문자 사이에 특정 문자를 삽입한다. 
* find : 문자열 사이에 특정 문자열의 위치를 찾는다.
* count : 특정 문자가 몇 개가 포함되어 있는지 찾는다. 
* strip : 문자열 앞,뒤의 공백을 제거한다. 
* lstrip : 문자열 왼쪽 공백을 제거한다. 
* rstrip : 문자열 오른쪽 공백을 제거한다.
* split : 문자열을 특정 문자열 기준으로 나눈다.
* upper : 문자를 대문자로 변경한다.
* lower : 문자를 소문자로 변경한다.

In [4]:
text2 =" Python Is The Best Choice "
text3 ="p:y:t:h:o:n"
print(len(text2))
print(".".join(text2))
print(text2.find('i')) #맨 먼저 나오는 i의 인덱스의 위치를 찾는다.
print(text2.count('i'))
print(text2.rstrip())
print(text2.lstrip())
print(text2.strip()) # 앞 뒤 공백 제거
print(text3.split(':')) # 리스트 자료형으로 반환됨
print(text2.split(' '))
print(text2.upper())
print(text2.lower())

27
 .P.y.t.h.o.n. .I.s. .T.h.e. .B.e.s.t. .C.h.o.i.c.e.
23
1
 Python Is The Best Choice
Python Is The Best Choice
Python Is The Best Choice
['p', 'y', 't', 'h', 'o', 'n']
['', 'Python', 'Is', 'The', 'Best', 'Choice', '']
 PYTHON IS THE BEST CHOICE
 python is the best choice

## 문자열 포맷팅
### 방법1. %와 서식 문자 사용
* %s : 문자열(string)
* %c : 문자 1개
* %d : 정수1개
* %f : 부동소수점

### 방법2. f-String 사용
* f-string은 f'표시할 문자{변수명}'형태로 입력하면 됩니다.

### 방법3. format함수 사용
* format함수는 "{}표시할문자". format(변수명, 문자 등) 형태로 표시하면 됩니다.

In [6]:
a = 100
b = 0.14567

print("%5d"%a)
print("%d"%a)
print("%-d"%a)
print("%.2f"%b) #반올림된다

  100
100
100
0.15

In [34]:
name ="홍길동"
age = 20
# %와 서식문자 사용하기
print("내 이름은 %s입니다."%name)
print("내 나이는 %d입니다."%age)
print("이름은 %s 이고 나이는 %.2f 입니다."%(name,age))

#f-string 사용하기
print(f"내 이름은 {name}이고 나이는 {age}세 입니다.")

#format함수 사용하기
print("내 이름은 {}이고 나이는 {}세 입니다. 사는 곳은 {}입니다.".format(name,age,"양주시"))

내 이름은 홍길동입니다.
내 나이는 20입니다.
이름은 홍길동 이고 나이는 20.00 입니다.
내 이름은 홍길동이고 나이는 20세 입니다.
내 이름은 홍길동이고 나이는 20세 입니다. 사는 곳은 양주시입니다.

## 참고 : 변수에 데이터를 할당할때 한꺼번에 여러개를 할당하는 복수할당이 가능하다.

In [15]:
a=10
b=20

# 복수할당
c,d,e=30,40,40

print(a,b,c,d,e)

10 20 30 40 40

## map 함수  
> 여러 데이터에 같은 함수나 데이터형을 적용할 때 사용하는 함수입니다.  
> 사용자가 입력한 데이터를 한꺼번에 데이터형 등을 변경해 사용하는 경우가 많기 때문에 input과 함께 사용하는 경우가 많습니다.  
> 기본형식 : map(함수,데이터)

In [11]:
# 여러 개의 변수를 한꺼번에 받기 때문에 input 함수 앞에 int함수를 사용하면 오류가 발생하게 된다.
a, b, c=input('숫자 세 개를 입력하세요.').split() # input으로 입력받은 데이터는 문자형입니다.
print(a+b+c) #문자형이기때문에 단순하게 붙여서 표시됩니다.

숫자 세 개를 입력하세요.10 20 30
102030
숫자 세 개를 입력하세요.10 20 30
60

In [18]:
# map을 사용한 경우 : int로 변환됨
num1, num2, num3=map(int,input('숫자 세 개를 입력하세요.').split())
print(num1+num2+num3)

# type함수를 사용하여 데이터 타입을 확인하자
print(type(num1))

숫자 세 개를 입력하세요.10 20 30
60
<class 'int'>

In [17]:
# map을 사용한 경우 : list로 변환
num4=list(map(int,input('숫자 세 개를 입력하세요.').split()))
print(num4)

# type함수를 사용하여 데이터 타입을 확인하자
print(type(num4))

숫자 세 개를 입력하세요.10 20 30
[10, 20, 30]
<class 'list'>

# 복합자료형
## 리스트
* 리스트를 만들때는 대괄호[]로 데이터를 묶고 각각의 원소를 쉼표(,)로 구분하면 된다.
* 리스트는 변경 및 추가/수정/삭제 모두 가능하다. 
* 문자 자료형처럼 인덱싱과 슬라이싱 가능하다. 
* 관련 함수 : append, sort, reverse, index, insert, remove, pop, len

## 튜플
* 튜플은 ()로 묶는다. 
* 괄호()로 묶거나 괄호()를 묶지 않아도 튜플을 만들수 있다. 
* 튜플은 값을 변경할 수 없다. 
* 삭제나 변경은 불가능하지만 리스트처럼 인덱싱과 슬라이싱은 가능하다.

## 딕셔너리
* 딕셔너리는 중괄호 {}로 묶어서 생성하고 키와 값이 한쌍이다.
* {키:값, 키:값,...} 형태로 생성하면 된다. 
* 딕셔너리는 key를 통해 value를 얻는다. 
* 딕셔너리의 key는 중복되지 않아야 하며 변경할 수 없다. 
* 딕셔너리의 key는 리스트 자료형으로 설정불가능하다. 
* 관련함수 : keys, values, items, clear, get

## 집합자료형(set)
* 파이썬 2.3부터 지원. 집합을 표현하기 위해 사용한다. 
* 중괄호{}로 묶어서 표시한다.
* 중복을 허용하지 않는다.
* 순서가 없다. 
* 교집합(&), 합집합(|), 차집합(-)
* 관련함수 : add, update, remove

## 1. 리스트형
* 1. 리스트만들기
* 2. 리스트의 인덱싱과 슬라이싱
* 3. 리스트 관련 함수

In [7]:
# 리스트만들기
emp_list=[]
li1=[1,2,3,3]
li2=[4,5,6]
li3=['홍길동','01012345678','서울시']
li4=[1,2,3,[100,200,300]]

print(emp_list)
print(li1)
print(li2)
print(li3)
print(li4)
print("===================================")

# 문자 자료형처럼 인덱싱과 슬라이싱 가능하다.
# [시작:끝:간격]
print(li3[:2])
print(li3[0])
print(li3[2:])
print("===================================")

# 리스트의 값 변경
li3[0]='이순신'
li3[2]='부산시'
print(li3)

[]
[1, 2, 3, 3]
[4, 5, 6]
['홍길동', '01012345678', '서울시']
[1, 2, 3, [100, 200, 300]]
===================================
['홍길동', '01012345678']
홍길동
['서울시']
===================================
['이순신', '01012345678', '부산시']

# 관련 함수 : append, sort, reverse, index, insert, remove, pop

리스트명.append(추가할값)  
리스트명.sort() : reverse=True로 설정하면 내림차순  
리스트명.reverse() : 리스트 뒤집기  
리스트명.index(값) : 리스트에서 해당 값이 있는 인덱스 반환  
리스트명.insert(인덱스,값) : 지정한 인덱스에 값 추가  
리스트명.remove(값) : 설정한 값 제거. 같은 값이 여러개이면 해당 값의 첫 번째 값 제거  
리스트명.pop(인덱스) : 인덱스를 설정하지 않으면 마지막 값을 돌려주고 요소는 삭제, 인덱스를 설정하면 인덱스에 해당하는 값 반환후 제거

In [20]:
# <연습하기>
# 리스트 관련 함수를 사용할 test리스트를 만듭니다.
test1=[10,9,7,8,1,2,3,5,4,6]
test3=[100,100,100,200,100,300]

# len(리스트명) : 리스트의 길이 구하기

# 리스트.append :  리스트에 값 추가
test1.append(4)
test1

# 리스트.sort : 정렬. 기본 오름차순 정렬이지만 reverse=True로 설정하면 내림차순 정렬됨.
test1.sort(reverse=True)
test1

# 리스트명.reverse() : 리스트 뒤집기
test1.reverse()
test1

# 리스트.index(값) : 해당값이 있는 인덱스 반환
print(test1.index(9))
test1

# 리스트.insert(인덱스,값) : 설정한 인덱스에 값 추가됨
test1.insert(3,7)
test1

# 리스트.remove(값) : 설정한 값 제거. 같은 값이 여러개이면 해당값의 첫 번째 값 제거
test1.remove(7)

# 리스트.pop([인덱스]) : 인덱스를 설정하지 않으면 마지막 값을 돌려주고 삭제, 
# 인덱스를 설정하면 인덱스에 해당하는 값 반환후 제거
# 괄호 안에 인덱스를 설정하면 설정한 값을 반환하고 삭제한다.
test1.pop()
test1

9

[1, 2, 3, 4, 4, 5, 6, 7, 8, 9]

In [22]:
# <연습하기2>
test2 = [10, 9, 8, 7, 1, 2, 3, 5, 4, 6]
test3 = [100,100,100,200,100,300]

# pop을 변수에 넣어주면 그 값이 저장된다. (remove는 단순히 삭제)
temp = test2.pop()
temp
test2

[10, 9, 8, 7, 1, 2, 3, 5, 4]

In [25]:
# <연습하기2>
test2 = [10, 9, 8, 7, 1, 2, 3, 5, 4, 6]
test3 = [100,100,100,200,100,300]

# len : 리스트의 길이를 구하기 : test3의 길이 구하기
print(len(test3))

# test2 리스트의 맨 끝에 7이라는 값을 추가하기
test2.append(7)
print(test2)

# test3의 200이 있는 위치의 인덱스를 구하기
print(test3.index(200))

# test3의 1번째 위치에 400 추가
test3.insert(1, 400)
print(test3)

# test2에서 9를 제거
test2.remove(9)
print(test2)

# test3의 마지막 값을 반환하기
print(test3.pop())

6
[10, 9, 8, 7, 1, 2, 3, 5, 4, 6, 7]
3
[100, 400, 100, 100, 200, 100, 300]
[10, 8, 7, 1, 2, 3, 5, 4, 6, 7]
300

## 2. 튜플
* 1. 튜플 만들기(튜플은 값을 변경할 수 없다)
* 2. 튜플의 인덱싱과 슬라이싱
* 3. 튜플 더하기, 튜플을 횟수만큼 반복해서 표시하기

In [67]:
# 튜플은 값을 변경할 수 없지만 인덱싱과 슬라이싱은 가능하고 더하기, 곱하기와 같은 튜플 연산은 가능하다. 
t1=()
t2=(1,2,3)
t3=(1,2,(1,2,3)) # 튜플이 튜플의 원소가 될 수 있다
t4=(4, 5, 6, 7, 8, 9, 10, 11, 12,13)

#튜플의 인덱싱과 슬라이싱
t2[1]
t3[1:]
t2[:2]

(1, 2)

In [66]:
# 튜플 더하기
t2+t4

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13)

In [65]:
# 튜플 곱하기 : 반복하여 반환한다
t2*3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

## 3. 딕셔너리형
* 1. 딕셔너리의 생성
* 2. 딕셔너리에 값 추가 
* 3. 딕셔너리에 값 삭제
* 4. 키 값에 따른 value값 가져오기
* 5. 딕셔너리 관련 함수 : keys, values, clear, get

In [2]:
# 딕셔너리 생성

d1={'name':'홍길동','birth':'1999-10-11','phone':'01012345678'}
d2={'name':'장길산','birth':'1997-12-11','phone':'01056784567'}
d3={'name':'이순신','birth':'1995-03-12','phone':'01012341234'}

#d2에 값 추가 : 딕셔너리명['키값']='value'
d2['home']='서울시'
print(d2)
print("===============================")

#d2에 값 제거 : del 딕셔너리명['키값']
del d2['home']
print(d2)
print("===============================")

#d1의 값 얻어오기 : 딕셔너리명['키값']
d1['birth']

{'name': '장길산', 'birth': '1997-12-11', 'phone': '01056784567', 'home': '서울시'}
===============================
{'name': '장길산', 'birth': '1997-12-11', 'phone': '01056784567'}
===============================

'1999-10-11'

In [5]:
#딕셔너리 관련 함수 (하나씩 연습해보기)
d1.keys() # 딕셔너리의 키를 리스트로 가져오기

d2.values() # 딕셔너리의 value를 리스트로 가져오기

d3.clear() #딕셔너리의 값 모두 지우기

d2.get('phone') # 키에 따른 값 얻어오기

'01056784567'

## 4. 집합자료형(set)
1. 집합 자료형 만들기 : 중복을 허용하지 않는다.
2. 리스트나 튜플로 변환하기
3. 교집합, 차집합, 합칩합 구하기
4. 관련 함수 : add, update

In [7]:
#1. 집합 만들기
s1={1,2,3,4}
s2=set([4,5,6,6,6])  #리스트[4,5,6,6,6]을 집합으로 만듭니다. 중복이 사라집니다. 리스트의 중복을 없앨때 사용합니다. 
t2=(1,2,3)   # 이것은 튜플입니다.
s3=set(t2)   # 튜플(t2)를 집합으로 만듭니다.

print(s1)
print(s2)
print(s3)

#s4={1,2,3,3,3,3,4}   # 집합은 중복을 허용하지 않습니다.
#s4                   # s4 집합을 실행하면 중복 데이터 3이 한 번만 표시됩니다.

{1, 2, 3, 4}
{4, 5, 6}
{1, 2, 3}

In [11]:
# 집합을 리스트로 만들기 
li7=list(s1)
print(li7)
print(type(li7))

# 집합을 튜플로 만들기
tu1=tuple(s1)
print(tu1)
print(type(tu1))

[1, 2, 3, 4]
<class 'list'>
(1, 2, 3, 4)
<class 'tuple'>

In [12]:
#교집합 구하기 : & 연산자 또는 intersecton 함수 사용
s4={1,2,3,4,5,6,7}
s5={5,6,7,8,9,10,11}

s6=s4&s5 # & 연산자로 교집합 구하기
s6=s4.intersection(s5)
s6

{5, 6, 7}

In [133]:
#합집합 구하기 : | 연산자 또는 union 함수 사용
s4={1,2,3,4,5,6,7}
s5={5,6,7,8,9,10,11}

#s7=s4|s5
s7=s4.union(s5)
s7

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [137]:
#차집합 구하기 : - 연산자 또는 difference 함수 사용
s4={1,2,3,4,5,6,7}
s5={5,6,7,8,9,10,11}

#s8=s4-s5
s8=s4.difference(s5)
s8

{1, 2, 3, 4}

In [82]:
# 관련함수 : add, remove
tst={1,2,3,4,5}

#add : set명.add(추가값)
tst.add(6)
print(tst)

#remove : set명.remove(제거할값)
tst.remove(6)
print(tst)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5}

# boolean 자료형
### 불(bool) 자료형은 참(True)과 거짓(False)을 나타내는 자료형이다. Bool 자료형은 다음의 두 가지 값만 가질 수 있다.
```
True : 참
False : 거짓
```

### 자료형의 참과 거짓
비어있거나 0인 데이터는 False, 그 외의 자료형은 True로 취급된다. 
* 거짓(False) : 문자열의 빈 문자열 "", 리스트의 [], 튜플의 {}, 딕셔너리의 {}, 숫자의 0, None
* 참(True) : False인 데이터형 이외의 데이터형

### 관계 연산자(논리 연산자)
연산의 결과는 참(True) 또는  거짓(False)가 반환된다.
```
> : 크다, 초과
< : 작다, 미만
>= : 크거나 같다. 이상
<= : 작거나 같다. 이하
== : 같다
!= : 같지 않다. 
```

In [84]:
a=True
b=False

c= 6>5
d= 3<2

print(a,b,c,d)
print(type(a))
print(type(b))
print(type(c))
print(type(d))

True False True False
<class 'bool'>
<class 'bool'>
<class 'bool'>
<class 'bool'>